* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1022%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(76%2c 0%2c 125%2c 1)'%3e%3c/rect%3e%3cpath d='M0 0L613.48 0L0 541.77z' filter='url(%23SvgjsFilter1023)' fill='rgba(27%2c 0%2c 75%2c 1)'%3e%3c/path%3e%3cpath d='M0 560L613.48 560L0 18.230000000000018z' filter='url(%23SvgjsFilter1023)' fill='rgba(27%2c 0%2c 75%2c 1)'%3e%3c/path%3e%3cpath d='M1440 560L826.52 560L1440 18.230000000000018z' filter='url(%23SvgjsFilter1023)' fill='rgba(27%2c 0%2c 75%2c 1)'%3e%3c/path%3e%3cpath d='M1440 0L826.52 0L1440 541.77z' filter='url(%23SvgjsFilter1023)' fill='rgba(27%2c 0%2c 75%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1022'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cfilter height='130%25' id='SvgjsFilter1023'%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='-5' in='TopLeftG' result='TopLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopLeftO' result='TopLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='TopRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='-5' in='TopRightG' result='TopRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='TopRightO' result='TopRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomLeftG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='-5' dy='5' in='BottomLeftG' result='BottomLeftO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomLeftO' result='BottomLeftC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeGaussianBlur in='SourceAlpha' stdDeviation='5' result='BottomRightG'%3e%3c/feGaussianBlur%3e%3cfeOffset dx='5' dy='5' in='BottomRightG' result='BottomRightO'%3e%3c/feOffset%3e%3cfeComponentTransfer in='BottomRightO' result='BottomRightC'%3e%3cfeFuncA type='linear' slope='0.7'%3e%3c/feFuncA%3e%3c/feComponentTransfer%3e%3cfeMerge%3e%3cfeMergeNode in='TopLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='TopRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomLeftC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='BottomRightC'%3e%3c/feMergeNode%3e%3cfeMergeNode in='SourceGraphic'%3e%3c/feMergeNode%3e%3c/feMerge%3e%3c/filter%3e%3c/defs%3e%3c/svg%3e");
}

.naver {
    background-color: #1b004b;
    border-bottom: 10px solid black;
}

.imglogo {
    width: 300px;
}

.navegadro {
    background-color: #1b004b;
}

.imgicon {
    width: 140px;
}

.uls {
    color: black;
    display: flex;
    justify-content: space-around;

}

.hamburcolor {
    background-color: #1b004b;
}

.ulcolor {
    color: black;
}

.h2 {
    color: rgb(244, 239, 239);
    text-align: center;
}

.h23 {
    color: rgb(244, 239, 239);
    text-align: center;
    margin-top: 200px;
    font-size: 3rem;
}

.h3 {
    color: rgb(165, 10, 10);
}

.h5 {
    color: white;
    font-style: italic;
    text-align: center;
}

.card-text {
    text-align: center;
    font-size: 1.3rem;
    color: white;
}

.canvashead {
    background-color: #1b004b;
}

.mitad {
    margin-bottom: 200px;
}

.contener {
    position: relative;
    display: inline-block;
    text-align: center;
    display: flex;
    justify-content: center;

}

.imgmain {

    width: 1300px;
    height: 700px;

}

.imgtarjeta {
    height: 400px;
}

.articulo {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    grid-gap: 50px;

}

.centrado {
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.maint {
    color: rgb(255, 255, 255);
    font-size: 5rem;
}

.foot {
    background-color: #1b004bf0;
    
    display: grid;
    grid-template-rows: auto auto;
    margin-top: 100px;
    
}

.pfoot {
    font: bold;
    color: white;
    font-size: 2rem;
    border-bottom: black;
}

.ppfoot {
    font: bold;
    color: white;
    font-size: 1.5rem;
}

.precio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.datos {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}
.fer{
    font: bold;
    color: white;
    font-size: 1.5rem;
    text-align: center;
}
.imgslider{
    height: 580px;
}
.imgsliderb{
    height: 580px ;
}
.carousel{
    margin-top: 200px;
}
@media screen and (max-width: 900px) {
    .imglogo {
        width: 150px;
    }

    .imgicon {
        width: 60px;
    }

    .imgmain {

        width: 600px;
        height: 400px;
    }

    .maint {

        font-size: 1.4rem;
    }

    .centrado {
        position: absolute;
        top: 70%;
        left: 34%;
        transform: translate(-50%, -50%);
    }

    .h23 {
        color: rgb(244, 239, 239);
        text-align: center;
        margin-top: 100px;
    }

    .articulo {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-around;
        grid-gap: 50px;

    }
    .foot {
    
        margin-top: 50px;
        
    }
    

}


@media (max-width: 500px) {
    .imglogo {
        width: 120px;
    }

    .imgicon {
        width: 50px;
    }

    .imgmain {

        width: 300px;
        height: 200px;

    }

    .maint {

        font-size: 1.4rem;
    }

    .h23 {
        font-size: 2rem;
    }
   
    .pfoot {
        
        font-size: 1.0rem;
        font: bold;
        
    }
    .imgslider{
        width: 400px;
    }
    .imgsliderb{
        height: 580px ;
    }
    .carousel{
        margin-top: 50px;
    }
}